TG_TOKEN=tg_token
FOLDER_ID=ur_folder_id
GPT_TOKEN=ur_iam_token # Not smartest decision to move it here from me :P
ADMINS_ID=["111111111",] # tg_ids
TOKENIZER_URL=https://llm.api.cloud.yandex.net/foundationModels/v1/tokenize # Standard ya.cloud link
GPT_URL=https://llm.api.cloud.yandex.net/foundationModels/v1/completion
GPT_MODEL=GPT_MODEL